<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name=viewport content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" type="text/css" media="all">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/drink-selector.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
            <h1 id="site-title">{{title}}</h1>
        </div>
    </header>
    <div id="drinks-selector" style="display: none;">
        <div id="drinks-selector-inner">
            <div id="drinks-selector-title">
                <span>Select Drinks</span>
                <i class="fa fa-times" onclick="document.getElementById('drinks-selector').style.display = 'none';"></i>
            </div>
            <div id="drinks-selector-content">
                <input id="drinks-search" type="text" placeholder="Search for a drink" />
                <div id="drinks-data">
                </div>
            </div>
            <div id="drinks-selector-options">
                <input type="button" value="Finish" onclick="updateSelectedDrinks();document.getElementById('drinks-selector').style.display = 'none';" />
                <input type="button" value="Cancel" onclick="document.getElementById('drinks-selector').style.display = 'none';" />
            </div>
        </div>
    </div>
    <div id="main">
        <div class="wrapper">
            <div id="main-panel" class="clearfix">
                <div id="main-panel-left">
                    <form>
                        <div class="field">
                            <label for="age">Your age:</label>
                            <input id="age" name="age" type="number" pattern="\d*" />
                        </div>
                        
                        <div class="field">
                            <label for="weight">Your weight (kg):</label>
                            <input id="weight" name="weight" type="number" />
                        </div>
                        
                        <div class="field">
                            <label for="hours">Hours you wish to stay awake:</label>
                            <input id="hours" name="hours" type="number" step="0.5" />
                        </div>
                        
                        <input onclick="document.getElementById('drinks-selector').style.display = 'block';" type="button" value="Choose your drinks" />
                        
                        <div id="selected-drinks">
                        </div>
                    </form>
                </div>
                <div id="main-panel-right">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            Licensed under <a href="http://opensource.org/licenses/MIT">MIT License</a>
        </div>
    </footer>
</body>
</html>