/*-------------------------
	Simple reset
--------------------------*/

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'open sans', arial, sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-style: normal;
    color: rgb(68, 68, 68);
    height: 100%;
    background: #f0f0f0;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    outline: 0 none;
}

hr {
    border: 0;
    border-top: 1px solid #e3e3e3;
    height: 0px;
}

a {
    color: #2E9FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin: 8px 0;
}

ul {
    margin: 15px 0;
}

li {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-------------------------
	Stuff
--------------------------*/

.fl { float: left; }
.fr { float: right; }
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

input[type=button], input[type=submit] {
	padding: 7px 18px;
    background: white;
    border: 1px solid #e3e3e3;
	border-radius: 3px;
	color: rgb(51,51,51);
	font-size: 14px;
    transition: background .2ms ease;
}
input[type=button]:hover, input[type=submit]:hover {
    background: #fafafa;
}

#liability {
    font-size: 9px;
    color: #e3e3e3;
    line-height: 10px;
    max-width: 500px;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/*-------------------------
	Layout
--------------------------*/

#page-title {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 36px;
}

.card-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.card {
    background: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.error-card {
    background: #E64548 !important;
    color: white !important;
}

.card h1, .card h2, .card h3 {
    margin-bottom: 10px;
}

.wrapper {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;
    background: white;
}

#site-title {
    font-weight: 300;
    font-size: 26px;
    line-height: 24px;
    display: block;
    background: url(../../assets/images/coffee.png) no-repeat;
    background-size: contain;
    padding-left: 32px;
}

#main {
    padding: 20px 0;
}

#main-panel {
}

#main-panel-left {
    float: left;
    width: 60%;
    box-sizing: border-box;
    padding-right: 10px;
}

#consumed-drinks-column {
    float: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}
#available-drinks-column {
    float: left;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
}

#data-input-area {
    background: white;
    padding: 20px;
    box-sizing: border-box;
}

#main-panel-right {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding-left: 10px;
}

#main-panel-left h2, #main-panel-right h2 {
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 20px;
}

.field:before, .field:after {
    content: '';
    display: table;
}
.field:after {
    clear: both;
}
.field {
    margin-bottom: 10px;
}
.field label {
    float: left;
    width: 150px;
    line-height: 26px;
}
.field input {
    float: left;
    border: 1px solid #d9d9d9;
    padding: 4px 6px;
    cursor: text;
    min-width: 200px;
}

@media (max-width: 860px) {
    #main-panel-left {
        float: none;
        width: 100%;
        padding: 0 5px;
        border-right: 0;
    }

    #main-panel-right {
        float: none;
        width: 100%;
        padding: 0 5px;
    }
}

/*-------------------------
	Nav
--------------------------*/
nav {
    background: #333;
}

nav .wrapper:before, nav .wrapper:after {
    content: '';
    display: table;
}
nav .wrapper:after {
    clear: both;
}

nav .item {
    display: block;
    float: left;
    padding: 0 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Open Sans',arial,sans-serif;
    line-height: 40px;
    text-decoration: none;
    white-space: nowrap;
}
nav .item:hover {
    background: #444;
}
nav .item.active {
    background: #666;
}

/*-------------------------
	Drinks Selector
--------------------------*/

.drinks-selector {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}
.drinks-selector-inner {
    background: white;
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
    max-width: 700px;
    margin: 80px auto;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 0 1px 8px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

.drinks-selector-title {
    padding: 6px 10px;
    border-bottom: 1px solid #e1e8ed;
    text-align: center;
    color: rgb(51,51,51);
    font-size: 18px;
    position: relative;
}

.drinks-selector-title .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-right: 20px;
    color: rgb(51,51,51);
    cursor: pointer;
}

.drinks-selector-content {
    padding: 20px;
    padding-bottom: 20px;
    min-height: 200px;
    max-height: 350px;
    overflow-y: auto;
}

.drinks-selector-options {
	/* background: #E6ECF1; */
    padding: 15px 20px;
    border-top: 1px solid #e1e8ed;
}

.drinks-selector input[type=button], .drinks-selector input[type=submit] {
	background: white;
	padding: 7px 18px;
    border: 1px solid #e1e8ed;
	border-radius: 3px;
	color: rgb(51,51,51);
	font-size: 14px;
    transition: background .2ms ease;
}
.drinks-selector input[type=button]:hover, .drinks-selector input[type=submit]:hover {
	background: #e1e8ed;
}

.drinks-selector input[type=text], .drinks-selector input[type=number] {
    border: 1px solid #e1e8ed;
    padding: 4px 10px;
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
}

.drinks-search {
    border-bottom: 1px solid #e3e3e3;
}

.drink {
    float: left;
    width: 33%;
    height: 160px;
    border: 1px solid #e3e3e3;
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;
}
.drink:hover {
    border-color: #047BF9;
}
.drink-name {
    display: block;
    text-align: center;
}
.drink-image {
    display: block;
    max-height: 150px;
    margin: 0 auto;
    margin-top: 10px;
}
.drink-caff {
    display: block;
    text-align: center;
}
.drink.active {
    border-color: #047BF9;
}

.drink-notactive-msg, .drink-active-msg {
    background: #047BF9;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: white;
    padding: 0 5px;
    box-sizing: border-box;
}

/*
.drink:not(.active):not(:hover) .drink-notactive-msg {
    display: none;
}
.drink:not(.active):hover .drink-notactive-msg {
    display: block;
}
*/
.drink-notactive-msg {
    display: none;
}

.drink.active .drink-notactive-msg {
    display: none;
}

.drink:not(.active) .drink-active-msg {
    display: none;
}
.drink.active .drink-active-msg {
    display: block;
}
.drink:not(:hover) .drink-active-msg-normal {
    display: block;
}
.drink:not(:hover) .drink-active-msg-hover {
    display: none;
}
.drink:hover .drink-active-msg-normal {
    display: none;
}
.drink:hover .drink-active-msg-hover {
    display: block;
}

/*-------------------------
	Selected Drinks
--------------------------*/
.selected-drink {
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    box-sizing: border-box;
    max-width: 370px;
}
.selected-drink-inner {
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.selected-drink:first-child {
    border-top: 1px solid #e3e3e3;
    margin-top: 10px;
}
.selected-drink:before, .selected-drink:after, .selected-drink-inner:before, .selected-drink-inner:after {
    content: '';
    display: table;
}
.selected-drink:after, .selected-drink-inner:after {
    clear: both;
}
.selected-drink-image-wrapper, .selected-drink-image {
    max-height: 50px;
}
.selected-drink-image-wrapper {
    float: left;
}
.selected-drink-info {
    float: left;
    padding-left: 10px;
}
.selected-drink-name {
}
.selected-drink-caff {
}
.selected-drink-amount {
}
.selected-drink-amount:before, .selected-drink-amount:after {
    content: '';
    display: table;
}
.selected-drink-amount:after {
    clear: both;
}
.selected-drink-amount-label {
    float: left;
    padding-right: 10px;
}
.selected-drink-amount-input {
    border: 1px solid #d9d9d9;
    padding: 4px 6px;
    cursor: text;
    width: 75px;
    display: block;
    float: left;
}
.selected-drink-remove {
    padding: 5px;
    width: 32px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.selected-drink-remove:hover {
    background: #f0f0f0;
}


/*-------------------------
	Results
--------------------------*/
#results {
    position: relative;
    margin-bottom: 40px;
}

.result-item {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background: white;
    padding: 20px;
    box-sizing: border-box;
    height: 84px;
}

.result-item:not(:first-child) {
    border-top: 1px solid #f0f0f0;
}